<div class="container section">
    <div class="row">
        <div class="col hide-on-small-only m3 l4 teal"></div>
        <div class="col s12 m6 l4 ">
            <button data-activity="sprinkler" [disabled]="isButtonDisabled"  (click)="onToggle()" [ngClass]="status ? 'teal pulse' : 'success'">
             {{ (status) ? 'Sprinkler on' : 'Sprinkler off'}}
            </button>
        </div>
        <div class="col hide-on-small-only m3 l4 teal"></div>
    </div>
    <h5 class="white-text">Schedule</h5>
    <app-schedule-list [events]="events"></app-schedule-list>
    <app-scheduler [events]="events" eventType="Sprinkler"></app-scheduler>
    <hr>
    <h5 class="white-text">Notifications</h5>

    <app-notification-list [users]="users"></app-notification-list>
    <app-notifier [users]="users"></app-notifier>

    <hr>
    <h5 class="white-text">Log</h5>
    <app-listlog></app-listlog>
    
</div>