<div class="nav z-depth-0">
  <div class="section center">
    <h3 class="white-text center">A.I. DataPipes</h3>
  </div>
</div>

<div class="section center">
  <p class="grey-text flow-text">Machine learning for mechanical systems.</p>
</div>
<app-switch></app-switch>
<div class="divider"></div>
<app-outdoor-temp></app-outdoor-temp>
<div class="divider"></div>

<app-zone-temps></app-zone-temps>
<div class="divider"></div>

<div class="container section">
  <div class="row">
    <div class="col s12 l5">
      <p class="grey-text">
        <!-- {{data.length}} samples since {{ currentLookBack.getMonth() + 1}}\{{currentLookBack.getDate() }} -->
      </p>
      <button disabled data-activity="sensor1">Zone 1 Activiy (Beta)</button>
      <!-- <button data-activity="running">Running</button>
      <button data-activity="swimming">Swimming</button>
      <button data-activity="walking">Walking</button> -->
    </div>
    <div class="col s12 l6 push-l1">
      <div class="canvas"></div>
    </div>
  </div>
</div>