<div class="nav z-depth-0">
  <div class="section center">
    <h3 class="white-text center">A.I. DataPipes</h3>
  </div>
</div>

<div class="section center">
  <p class="grey-text flow-text">ML for pipes</p>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12 l5">
      <button class="active" data-activity="cycling">Sensor 1</button>
      <!-- <button data-activity="running">Running</button>
      <button data-activity="swimming">Swimming</button>
      <button data-activity="walking">Walking</button> -->
    </div>
    <div class="col s12 l6 push-l1">
      <div class="canvas"></div>
    </div>
  </div>
  <div class="row">
    <form class="col m6 push-m3">
      <!-- <p class="flow-text grey-text center">How much <span>cycling</span> have you done today?</p> -->
      <!-- <input class="grey-text" type="text" id="cycling" placeholder="Distance in km" /> -->
      <p class="center pink-text error text-lighten-1"></p>
    </form>
  </div>
</div>