<div class="container section">
    <div class="row">
        <div class="col hide-on-small-only m3 l4">
            Sunroom
        </div>
        <div class="col s12 m6 l4 ">
            <button data-activity="sensor1">
                Zone Control
                <!-- NEED INPUT OF ZONE  HERE -->
            </button>
        </div>
        <div class="col hide-on-small-only m3 l4"></div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <!-- NEED INPUT OF ZONE HERE -->
            <div class="{{ SELECTOR + '-canvas'}}">
            </div>
        </div>
    </div>
</div>