/* You can add global styles to this file, and also import other style files */


.nav{
    background: #333
  }
  button{
    background: #333 !important;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 1.6em;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  button.active{
    background: #00bfa5 !important;
  }
  form span{
    color: #00bfa5 !important;
  }
  
  .canvas{
    text-align: center;
   // max-width: 100vw;
    overflow-x: visible;
  }
  .x-axis path, .y-axis path,
  .x-axis line, .y-axis line{
    stroke: #CCC;
  }
  .x-axis text, .y-axis text{
    fill: #CCC;
    font-size: 14px;
  }
 