/* You can add global styles to this file, and also import other style files */

/*
*   Most colors derived from:
*   https://material.io/design/color/dark-theme.html
*   V3: https://m3.material.io/libraries/mdc-android/color-theming
*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.material-icons {
  vertical-align: middle;
  padding-left: .1em;
  padding-right: .1em;
  /*Change this to adjust the icon*/
}

.nav {
  background: #333
}

.divider {
  opacity: .5;
}

button {
  background: #333 !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 16px;
  font-size: 1.6em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

button.active {
  background: #00bfa5 !important;
}

form span {
  color: #00bfa5 !important;
}

.canvas,
.app-zone-temps-canvas,
.app-outdoor-temp-canvas {
  text-align: center;
  // max-width: 100vw;
  // overflow-x: hidden;
  overflow-x: scroll;
}

.app-svg-rescale-y-axis path,
.app-svg-rescale-x-axis path,
.app-zone-temps-x-axis path,
.app-zone-temps-y-axis path,
.x-axis-app-outdoor-temp path {
  stroke: #CCC;
}


.app-svg-rescale-y-axis text,
.app-svg-rescale-x-axis text {
  fill: #CCC;
}

.app-zone-temps-x-axis text,
.app-zone-temps-y-axis text,
.x-axis-app-outdoor-temp text {
  fill: #CCC;
  font-size: 14px;
}

.y-axis-app-outdoor-temp path {
  stroke: #CCC;
}

.y-axis-app-outdoor-temp text {
  fill: #CCC;
  font-size: 14px;
}

.tick line {
  stroke: #ccc;
}

.tick text {
  font-size: 14px;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
  stroke: #CCC;
  stroke-width: 2;
}

.x-axis text,
.y-axis text {
  fill: #CCC;
  font-size: 14px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  padding-top: 20px;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;

}

.rect {
  stroke: steelblue;
  stroke-width: 5px;
}

.label {
  fill: teal;
  font-size: 14pt !important;
  text-anchor: middle;
  //font-size: 8pt;
}