/* You can add global styles to this file, and also import other style files */


.nav {
  background: #333
}

button {
  background: #333 !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 16px;
  font-size: 1.6em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

button.active {
  background: #00bfa5 !important;
}

form span {
  color: #00bfa5 !important;
}

.canvas {
  text-align: center;
  // max-width: 100vw;
  // overflow-x: hidden;
  overflow-x: scroll;
}

#app-outdoor-temp-x-axis path {
  stroke: #CCC;
}

#app-outdoor-temp-x-axis text {
  fill: #CCC;
  font-size: 14px;
}

.tick line {
  stroke: white;

}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
  stroke: #CCC;
  stroke-width: 2;
}

.x-axis text,
.y-axis text {
  fill: #CCC;
  font-size: 14px;
}